.section {
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
}

.itemPrice {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.itemName {
  min-height: 48px;
}